@code {
    [Parameter] public string Message { get; set; }
    [Parameter] public bool IsVisible { get; set; } = false;
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }

    private void Close() => IsVisibleChanged.InvokeAsync(false);
}

@if (IsVisible)
{
<div class="alert alert-dismissible fade show position-fixed" role="alert">
    <div class="d-flex align-items-center">
        <div class="flex-grow-1 me-2">
            @Message
        </div>
        <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
    </div>
</div>
}